<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
	<title>Brewer</title>
	<link th:href="@{/layout/stylesheets/style_erro.css}" rel="stylesheet"/>
	<link th:href="@{/layout/stylesheets/algaworks.min.css}" rel="stylesheet"/>
	<link th:href="@{/layout/stylesheets/vendors.css}" rel="stylesheet"/>
</head> 
	
	<body>
		<th:block layout:fragment="conteudo"></th:block>   
	</body>      
       
</html>